POSTGRES_DB=hybel
POSTGRES_USER=hybel
POSTGRES_PASSWORD=change_me_in_production

DJANGO_SECRET_KEY=change_me_in_production
DJANGO_SETTINGS_MODULE=config.settings.dev
DEBUG=true
ALLOWED_HOSTS=*

REDIS_URL=redis://redis:6379/0

API_URL=https://api.hybel.no
WS_URL=wss://api.hybel.no/ws
